@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');


body {
  font-size: 16px;
  font-family: 'Roboto' , sans-serif;
  font-weight: normal;
  background-color:#DCDCDC;
  color: #0f141e;
}

.container {
  margin: auto;
  padding-top: 30px;
  max-width: 1000px;
}
.info {
  margin-bottom: 20px;
  display: flex;
}

.info-text {
  margin-left: 40px;
}
.info-text p {
  font-style: italic;
  font-weight: bold;
  margin: 0;
}

.info-text h4 {
  margin-bottom: 10px;
}

@media (max-width:650px) {
  .info {
    display: block;
    text-align: center;
  }
}

.card {
  border: 1px; 
  border-radius: 10px;
  padding: 15px 20px;
  margin-bottom: 20px;
}

.card h2 {
  margin-bottom: 10px;
}

.bg-1 {
  background-color: #87CEEB;
}

.bg-2 {
  background-color: #FFDAB9;
}

.bg-3 {
  background-color: #EEE8AA;
}



.avatar {
  width: 300px;
  border-radius: 10px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.btn {
  color: white;
  background: black;
  padding: 15px 20px;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.links {
  color: white;
  text-decoration: none;
  font-size: 20px;
  /* border: 2px solid black; */
  background-color: blueviolet;
  border-radius: 15%;
  padding: 10px;
}

.links:hover {
  color: orange;
  text-decoration: underline;
}
.links:active {
  color: blue;
}

.list {
  padding: 0 20px;
}

.list li {
  color:rgb(76, 56, 168);
  margin-bottom: 10px;
}

.table {
  width: 100%;
}

.table td {
  padding-bottom: 10px;
}

.table td:nth-child(2) {
  color: rgb(194, 48, 145);
}

.table td:nth-child(3) {
  color: rgb(194, 48, 145);
}

.table td:nth-child(1) {
  font-style: italic;
}

.form h2 {
  text-align: center;
}

.form-row {
  margin-bottom: 10px;
  display: flex;
}

.form-row { 
  margin-right: 20px;
  width: 50%;

}

.form-row .form-group:last-child {
  margin-right: 0;
}

@media (max-width:650px) {
form-row {
  display:block;
}

}

.form-group label {
  display: block;
  font-size: 14px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: #000;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
} 